name: Build, Push and Deploy a Docker Image

on:
  push:
    branches: [main]

permissions:
  contents: read
  packages: write

jobs:
  build-push-deploy-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Log in to the Container registry
        uses: docker/login-action@v3.3.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v6.5.0
        with:
          context: .
          push: true
          tags: ghcr.io/ouilliam-21/web-app:latest
      - name: Deploy the app
        uses: digitalocean/app_action/deploy@v2
        env:
          DISCORD_CLIENT_ID: ${{ secrets.DISCORD_CLIENT_ID }}
          DISCORD_CLIENT_SECRET: ${{ secrets.DISCORD_CLIENT_SECRET }}
          DISCORD_CALLBACK_URL: ${{ secrets.DISCORD_CALLBACK_URL }}
          DISCORD_REDIRECT_URL: ${{ secrets.DISCORD_REDIRECT_URL }}
          PRODUCTION_URL: ${{ secrets.PRODUCTION_URL }}
          DATABASE_HOST: ${{ secrets.DATABASE_HOST }}
          DATABASE_PORT: ${{ secrets.DATABASE_PORT }}
          DATABASE_USER: ${{ secrets.DATABASE_USER }}
          DATABASE_PASSWORD: ${{ secrets.DATABASE_PASSWORD }}
          DATABASE_NAME: ${{ secrets.DATABASE_NAME }}
          GHCR_CREDENTIALS: ${{ secrets.GHCR_CREDENTIALS }}
          INFERENCE_AUTH_TOKEN: ${{ secrets.INFERENCE_AUTH_TOKEN }}
          INFERENCE_API_URL: ${{ secrets.INFERENCE_API_URL }}
          DIGITAL_OCEAN_TOKEN: ${{ secrets.DIGITAL_OCEAN_TOKEN }}
          DIGITAL_OCEAN_DATABASE_ID: ${{ secrets.DIGITAL_OCEAN_DATABASE_ID }}
          DIGITAL_OCEAN_WEB_APP_ID: ${{ secrets.DIGITAL_OCEAN_WEB_APP_ID }}
          DIGITAL_OCEAN_SPACE_REGION: ${{ secrets.DIGITAL_OCEAN_SPACE_REGION }}
          DIGITAL_OCEAN_SPACE_ACCESS_KEY: ${{ secrets.DIGITAL_OCEAN_SPACE_ACCESS_KEY }}
          DIGITAL_OCEAN_SPACE_SECRET_KEY: ${{ secrets.DIGITAL_OCEAN_SPACE_SECRET_KEY }}
          DIGITAL_OCEAN_SPACE_NAME: ${{ secrets.DIGITAL_OCEAN_SPACE_NAME }}
        with:
          app_spec_location: digitalocean/deploy.yml
          token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}
